*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
}

.content,
.header {
    width:951px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.60);
}

/*header*/
.header {
    display: flex;
    border-top: none;
}

.header_logo {
    width: 20%;
}

.header_title {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width:700px){
    .header_name {
        font-size: 3em;
    }

    .header_welcome {
        font-size: 1.5em;
    }
}

.header_welcome {
    font-weight: 300;
}

/*Main Content*/
.hero {
    text-align: center;
}

.hero_work {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    font-size: 250%;
}

.hero_main_image {
    width: 100%;
    border-top: 4px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.60);
}

.img_container {
    display: grid;
    justify-content: center;
    grid-row-gap: 2em;
    grid-column-gap: 3.5em;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

.hero_work_img {
    height: 200px;
    width: 250px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.26);
    border: 1px solid black;
}

.img_tag {
    font-size: 200%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 250px;
}

#image1 {
    grid-column-start: 1; 
    grid-column-end: 2;
}

#image2 {
    grid-column-start: 2; 
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#image3 {
    grid-column-start: 3; 
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.social {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 0.5em;
    margin: 2em auto 0 auto;
    padding: 4em 0 4em 0;
    width: 500px;
}

.social_follow {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 1em;
}

.social_icon {
    text-align: center;
    opacity: 0.5;
}

.social_icon:hover {
    opacity: 1;
}

/*footer*/
.footer {
    background-color: rgb(41, 40, 40);
    color: white;
    padding: 0.5em;
    font-size: 0.9em;
    display: flex;
    justify-content: space-around;
}